﻿@{
    ViewBag.Title = "Innovative Fitness";
}
<h2>@ViewBag.Title</h2>

<address>
    100 Global View Drive<br />
    Warrendale, PA 15086<br />
    (724) 719-3513<br />
    (724) 991-5355
</address>

<address>
    <strong>Owner:</strong> <a href="mailto:Ekozminski@mtmglobal1.com">Erica Kozminski</a><br />
    <strong>Web Design:</strong>   <a href="mailto:jessezimmerman6@gmail.com">Jesse Zimmerman</a>
</address>